# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/

# Mac / Linux system files
.DS_Store
*.swp

csv/raw

all_cleaned_articles.csv
tokenized_articles.csv

shuffled_articles.csv

/models